/*Root Selector to declare color variables that will be used throughout this file.*/
:root{
    --medium: #242323;
    --dark: #0a0a0a;
    --light: #333131;
    --orange-shade: #f77903;
    --carrot-orange:#d65002;
}

/*Setting box-sizing as 'border-box', which means that the width and height properties include 
not only the content, but also padding and border.
Setting padding and margin as 0 for the whole file.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Customized 'Roboto' font for the body content and its size as 15px.*/
body{
    font-family: 'Roboto';
    font-size: 15px;
    background: var(--dark);
}

/*==================================INDEX PAGE=================================================*/
/*Play icon: Setting a background color, a size to it and pushing it to the left.*/
/*Setting width for gif image in the home page.*/
.gif {
    width: 100%;
}
/*Text decoration for the links set as none, so links are not underlined.*/
a{
  text-decoration: none;
}
/*Different color for the span element and setting font-size.*/
#play {
  color: var(--orange-shade);
  padding-right: 10px;
  font-size: 40px; 
}
/* setting the font letter*/
.heading{
  font-family: 'Bahiana';
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#fff;
}
/*Different color for the span element.*/  
.heading span{
  color:var(--orange-shade);
}
/*setting the content*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}
/*Set margin, different font-family from the rest of the body, color and bold effect for p elements 
within the header.*/
.header p{
  margin: 10px;
  font-family: 'Bahiana';
  font-size: 55px;
  color: #fff;
  font-weight: bold;
}
/*setting different color on span element*/
.header p span{
  color: var(--orange-shade);
}
/*set the Nav links as flex-wrap property specifies whether the flexible items should wrap or not,
for that reason we set display as flex.*/
.nav__list{
  display: flex;
  flex-wrap: wrap;
}
/* Setting padding, font-family and color font property*/
.nav_link{
  padding: 20px 10px;
  font-family: 'Bahiana';
  font-size: 40px;
  color: var(--orange-shade);
}

/*setting padding ,display and gap give space between */
.movie .row01{
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}
/*setting the movies card container*/
.movie .row01 .column01{
  padding:2rem;
  background:var(--orange-shade);
  box-shadow: 0 .5rem 1rem var(--carrot-orange);
  border:.1rem solid var(--orange-shade);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 15rem;
}
/*setting the images and object-fit resized to image inside of container*/
.movie .row01 .column01 .poster{
  height:15rem;
  object-fit: cover;
  width:100%;
  border-radius: .5rem;
}
/* setting the background star icon*/  
#star{
  color: var(--dark);
}/*setting the backgroung starWhite icon*/
#starWhite{
  color: #fff;
}
/*setting the color and font letter also change the mouse when hover on it*/
.btn{
  background: #fff;
  display: inline-block;
  padding:.5rem 2rem;
  border:.2rem solid var(--dark);
  color:var(--dark);
  cursor: pointer;
  font-family: 'Bahiana';
  font-size: 1.5rem;
  border-radius: .5rem;
  margin-top: 1rem;
}
/*it's change the button color when hover the mouse on it*/
.btn:hover{
  color: #fff;
  background:var(--carrot-orange);
}
/*setting the background color*/
.newsletter{
  background-color: var(--orange-shade);
}
/*setting the newsletter content*/
.newsletter-c{
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newsletter-info{
  flex: 1 1 260px;
  padding-left: 10px;
}
/*setting the font letter title on newsletter section */
.newsletter-info_title{
  font-family: 'Bahiana';
  font-size: 2.62rem;
  font-weight: bold;
}
/*setting the font letter descrition on newsletter section */
.newletter-info_descrition{
  font-family: 'Bahiana';
  font-size:1.25rem;
  font-style: italic;
}
/*setting the newsletter-form border-radius give a small curves in the cornes.*/
.newsletter-form{
  border: 1.5px solid var(--dark);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
/*setting the font letter that will be insert on form*/
.newsletter-form_input{
  flex: 3 1 260px;
  font-size:1.25rem;
  width: 325px;
  color: black;
  font-style: italic;
  font-family: 'Bahiana';
  border: 10px solid var(--carrot-orange);
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}
/*setting the fon letter and change the background color  when the mouser houver on it*/
.newsletter-form_submit{
  flex: 1 1 260px;
  width: 192px;
  font-family: 'Bahiana';
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--carrot-orange);
  border: none;
  cursor: pointer;
  color:var(--dark);
  padding: 15px;
}
/*it's change the color when hover the mouse on it.*/
.newsletter-form_submit:hover{
  color: var(--carrot-orange);
  background: #fff;
}
/*setting the footer box
grid-template-columns: allowing a large number of columns or rows that exhibit 
a recurring pattern to be written in a more compact form.*/
.footer .box-container{
  background-color: #0a0a0a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap:2rem;
  padding:2rem 9%;
}
/*setting the font letter*/
.footer .box-container .box h3{
  font-family: 'Bahiana';
  font-size: 2.5rem;
  color:var(--carrot-orange);
  padding: 1rem 0;
}
/*setting the font letter and color and diplay the links as block*/
.footer .box-container .box a{
  font-family: 'Bahiana';
  display: block;
  font-size: 1.5rem;
  color:var(--orange-shade);
  padding: 1rem 0;
}
/*setting the icon color and padding*/
.footer .box-container .box a i{
  padding-right: .5rem;
  color:white;
}
/*move a slight to the right the link when hover the mouse*/
.footer .box-container .box a:hover i{
  padding-right:2rem;
}
/*setting the font color background and font letter*/
.footer .credit{
  padding: 2rem;
  text-align: center;
  font-family: 'Bahiana';
  font-size: 2rem;
  background: var(--dark);
  color:#fff;
  border-top: .1rem solid var(--carrot-orange);
}
/*setting the color font on credit span*/
.footer .credit span{
  color:var(--carrot-orange);
}
/*==========about page=============================================*/
img{
  width: 100%;
  display:block;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
/*Cursor type is pointer when hovering the images in the home page.
Opacity is set as 0.8 as default.*/
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
/*Opacity changes when hovering images in the gallery in the home page.*/
.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content-wrapper .container{
  max-width: 1500px;
  margin: 0 15px;
  padding: 0 25px;
}

/*============================================MOVIES PAGE===================================================*/

/*Setting background color, height and padding properties within this div.
  Displaying content in block and centralizing elements.*/
.search-field{
    background-color: var(--carrot-orange);
    height: 200px;
    display:block;
    padding: 40px 53px;
    justify-content: center;
}

/*Set margin, different font-family from the rest of the body, color and bold effect for p elements 
  within the header.*/
.header p{
    margin: 10px;
    font-family: 'Bahiana';
    font-size: 55px;
    color: #fff;
    font-weight: bold;
}
/*Different color for the span element.*/
.header p span{
    color: var(--orange-shade);
}

/*The list that pops up from the search box will display elements in block.
The content will be aligned in the center.
Position relative: it is positioned relative to its normal position.*/
.search-input{
    display: block;
    justify-content: center;
    position: relative;
}
/*Changing all h5 elements from the search-input div.*/
.search-input h5{
    font-family: 'Bahiana';
    text-align: center;
    padding-left: 55px;
    margin-right: 10px;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 32px;
}

/*Setting padding, font-size, width to the field where we insert the movies.
 Setting font color to the movies we type.*/
.search-input .form{
    padding: 16px 55px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: var(--orange-shade); 
    width: 350px;
}
/*Set position of the search list as absolute, i.e, 
 positioned relative to the nearest positioned ancestor. Relative would have been a nice choice too,
 however an absolute osition provided a more elegant display for the list.
 Setting a maximum height and overflow (-y: vertical) ith a scroll bar.*/
.search-list{
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
    opacity: 0.9;
}

/*When hovering the list, opacity changes.*/
.search-list:hover{
    opacity: 1;
}

/*Setting background-color, padding, border and color to the list that is displayed. 
 Cursor type: grab.*/
.search-list .search-list-item{
    background-color: var(--medium);
    padding: 10px;
    border-bottom: 1px solid var(--light);
    color: #fff;
    cursor:grab;
}
/*When hovering items in the list, the background color changes.*/
 .search-list-item:hover{
    background-color: var(--orange-shade);
    
}

/*Displaying the movie items in the search list as flex, so the movie thumbnail is 
positioned alongside its title and year of release.
Aligning items in the center.*/
.search-list-item{
    
    display:flex;
    align-items: center;
}
/*==================================script file===================================*/

/*Setting width and margin-right to the thumbnail img element within this div.*/
.search-item-thumbnail img{
    width: 50px;
    margin-right: 30px;
}

/*Changing all h3 from the search-item-info div.*/
.search-item-info h3{
    font-weight: 500;
    font-size: 15px;
}
/*Changing p element from the search-item-info div.*/
.search-item-info p{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}

/*It changes the scrollbar's width and background-color from the search list.*/
.search-list::-webkit-scrollbar{
    width: 8px;
    background-color:var(--orange-shade);
}
/*Search list is set to none, so when we select a movie from the search list,
content is displayed and the list is 'hidden'. Without this property, the list remains there.*/
.hide-search-list{
    display: none;
}

/* Adding some padding to the result-container div (where the movie info is displayed) */
.result-container{
    padding: 30px 50px;
}

/*Establishing a maximum width, margin, padding and border to the movie posters present in the movie-cover div.*/
.movie-cover img{
    max-width: 300px;
    margin:auto;
    border: 5px solid var(--orange-shade);
    padding: auto;
}
/*Setting color, padding, margin and aligning text for the movie information.*/
.movie-description{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin: 10px;
}

                 /* -------------- Movie information syle --------------- */

.movie-title{
    font-size: 37px;
    color: var(--orange-shade);
}

/*Release date is displayed as a list, so in order to remove those bullete points we set lit-style-type as none.*/
.movie-release-date{
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.movie-description .rates{
    display: block;
    background-color: var(--orange-shade);
    padding: 5px;
    margin: 0 15px;
    border-radius: 5px;
    font-weight: 600;
}
.movie-description .release{
    font-size: 15px;
    opacity: 0.9; 
}
.movie-description .writer{
    padding: 1px;
    margin: 20px 0;
}
.movie-description .type{
    padding: 1px;
    margin: 20px 0;
}
/*Displaying inline-block, so the element can sit next to other elements.*/
.movie-description .genre{
    background-color: var(--light);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.movie-description .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-description .language{
    color: var(--orange-shade);
    font-style: italic;
}
.movie-description .awards{
   font-weight: 200;
    font-size: 15px;
}

/*Changing awards icon.*/
.movie-description .awards i{
    color: var(--orange-shade);
    margin: 16 px 3px;
    padding: 15px 10px;

}

/*Media query: if the width of the window is from 600px on, the divs below will have the following changes.
However if the width is less than 600px, the ouput and movie info will be displayed differently.*/
@media(min-width: 600px){
   
    /*Grid template auto auto, defines two grids for the layout.*/
    .output{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    /*Align text and remove top*/
    .movie-description{
        text-align: left;
        padding-top: 0;
    }
    
    .movie-description .plot{
        margin-left: 0;
    }
    .movie-description .writer{
        margin-left: 0;
    }
}

/*===========================================MARCO=======================================*/
/*index*/
   @media (min-width : 600px ) {
        .row {
          background-attachment: scroll;
          min-height: 100px;
        }
   
    }
    .numbers{
        text-decoration: solid;
        color: white;
        text-align: center;
        font-size:xx-large ;
        
      
    }
    .row-center{
        
   
        background-color: var(--carrot-orange);
        display:block;
        padding: 40px 53px;
       justify-content: center;
    }
    .quarter-section{
        color: white;
        float:right;
       
    }

    

