
:root{
    --medium: #242323;
    --dark: #0a0a0a;
    --light: #333131;
    --orange-shade: #f77903;
    --carrot-orange:#d65002;
}

/*Explain box sizing*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-size: 15px;
}
 
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  .gif {
      width: 100;
  }
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
a{
    text-decoration: none;
}
img{
    width: 100%;
    display:block;
}

.content-wrapper{
    background-color: var(--dark);
}

/* comment max-width*/
.content-wrapper .container{
    max-width: 1500px;
    margin: 0 15px;
    padding: 0 25px;
}

.search-field{
    background-color: var(--carrot-orange);
    height: 200px;
    display:block;
    padding: 40px 53px;
   justify-content: center;
}
#play {
    color: var(--orange-shade);
    padding-right: 22px;
    font-size: 40px; 
}
.header{
    display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.header p{
    margin: 10px;
    font-family: 'Bahiana';
    font-size: 55px;
    color: #fff;
    font-weight: bold;
}
.header p span{
    color: var(--orange-shade);
}
.nav__list{
	display: flex;
	flex-wrap: wrap;
}
.nav_link{
	padding: 20px 10px;
    font-family: 'Bahiana';
    font-size: 40px;
    color: var(--orange-shade);
}

.search-input{
    display: block;

    padding-right: 52px;
   
    justify-content: center;
    
    position: relative;
}
.search-input h5{
    font-family: 'Bahiana';
    text-align: center;
    padding-left: 55px;
    margin-right: 10px;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 32px;
}

.search-input .form{
    padding: 16px 55px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--orange-shade); 
    width: 350px;
}
/*Position MUST be relative, otherwise scroll bar changes position when screen is maximized.*/
.search-list{
    position: absolute;
    top: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
.search-list .search-list-item{
    background-color: var(--medium);
    padding: 10px;
    border-bottom: 1px solid var(--light);
    color: #fff;
    cursor:grab;
}
 .search-list-item:hover{
    background-color: var(--orange-shade);
    opacity: 0.8;
}
.search-list-item{
    
    display:flex;
    align-items: center;
}
.search-item-thumbnail img{
    width: 50px;
    margin-right: 30px;
}
.search-item-info h3{
    font-weight: 500;
    font-size: 15px;
}
.search-item-info p{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}

.search-list::-webkit-scrollbar-thumb{
    background-color: var(--orange-shade);
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 30px 0;
}
.movie-cover img{
    max-width: 300px;
    margin:auto;
    border: 5px solid var(--orange-shade);
    padding: auto;
}
.movie-description{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    opacity: 0,5;
    margin: 10px;
}

/* movie info stylings */
.movie-title{
    font-size: 37px;
    color: var(--orange-shade);
}
.movie-release-date{
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.movie-description .rates{
    display: inline-block;
    background-color: var(--orange-shade);
    padding: 5px;
    margin: 0 15px;
    border-radius: 5px;
    font-weight: 600;
}
.movie-description .release{
    font-size: 15px;
    opacity: 0.9;
   
}
.movie-description .writer{
    padding: 1px;
    margin: 20px 0;
}
.movie-description .type{
    padding: 1px;
    margin: 20px 0;
}
/*It has got to be inline-block*/
.movie-description .genre{
    background-color: var(--light);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.movie-description .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-description .language{
    color: var(--orange-shade);
    font-style: italic;
}
.movie-description .awards{
   font-weight: 200;
    font-size: 15px;
}
.movie-description .awards i{
    color: var(--orange-shade);
    margin: 16 px 3px;
    padding: 15px 10px;

}
.newsletter{
    background-color: var(--orange-shade);
}
.newsletter-c{
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.newsletter-info{
    flex: 1 1 260px;
    padding-left: 10px;
}
.newsletter-info_titulo{
    font-family: 'Bahiana';
    font-size: 2.62rem;
    font-weight: bold;
}
.newletter-info_descricao{
    font-family: 'Bahiana';
    font-size:1.25rem;
    font-style: italic;
}
.newsletter-form{
    flex: 2 1 260px;
    display: flex;
    flex-wrap: wrap;
}
.newsletter-form_input{
    flex: 3 1 260px;
    font-size:1.25rem;
    width: 325px;
    color: black;
    font-style: italic;
    font-family: 'Bahiana';
    border: 10px solid var(--carrot-orange);
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
}
.newsletter-form_submit{
    flex: 1 1 260px;
    width: 192px;
    font-family: 'Bahiana';
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--carrot-orange);
    color: black;
    cursor: pointer;
    border: none;
    padding: 15px;
}

.footer .box-container{
    background-color: #0a0a0a;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap:2rem;
    padding:2rem 9%;
}

.footer .box-container .box h3{
    font-family: 'Bahiana';
    font-size: 2.5rem;
    color:var(--carrot-orange);
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-family: 'Bahiana';
    display: block;
    font-size: 1.5rem;
    color:var(--orange-shade);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:white;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}
.footer .credit{
    padding: 2rem;
    text-align: center;
    font-family: 'Bahiana';
    font-size: 2rem;
    background: var(--dark);
    color:#fff;
    border-top: .1rem solid var(--carrot-orange);
}

.footer .credit span{
    color:var(--carrot-orange);
}


@media(min-width: 600px){
   
    /*Explain it better*/
    .output{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /*Align text and remove top*/
    .movie-description{
        text-align: left;
        padding-top: 0;
    }
    
    .movie-description .plot{
        margin-left: 0;
    }
    .movie-description .writer{
        margin-left: 0;
    }
    .newsletter{
        background-color: var(--orange-shade);
    }
    .newsletter-c{
        max-width: 960px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .newsletter-info{
        flex: 1 1 260px;
        padding-left: 10px;
    }
    .newsletter-info_titulo{
        font-family: 'Bahiana';
        font-size: 2.62rem;
        font-weight: bold;
    }
    .newletter-info_descricao{
        font-family: 'Bahiana';
        font-size:1.25rem;
        font-style: italic;
    }
    .newsletter-form{
        flex: 2 1 260px;
        display: flex;
        flex-wrap: wrap;
    }
    .newsletter-form_input{
        flex: 3 1 260px;
        font-size:1.25rem;
        width: 325px;
        color: black;
        font-style: italic;
        font-family: 'Bahiana';
        border: 10px solid var(--carrot-orange);
        padding: 10px;
        margin: 0px;
        border-radius: 0px;
    }
    .newsletter-form_submit{
        flex: 1 1 260px;
        width: 192px;
        font-family: 'Bahiana';
        font-size: 2.25rem;
        font-weight: bold;
        text-transform: uppercase;
        background: var(--carrot-orange);
        color: black;
        cursor: pointer;
        border: none;
        padding: 15px;
    }
    
}