
:root{
    --medium: #242323;
    --dark: #0a0a0a;
    --light: #333131;
    --orange-shade: #f77903;
    --carrot-orange:#d65002;
}

/*Explain box sizing*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-size: 15px;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display:block;
}
.content-wrapper{
    background-color: var(--dark);
}

/* comment max-width*/
.content-wrapper .container{
   max-width: 1500px;
    margin: 0 15px;
    padding: 0 50px;
}
.search-field{
    background-color: var(--carrot-orange);
    height: 200px;
    display:block;
    padding: 40px 53px;
   justify-content: center;
}
#play {
    color: var(--orange-shade);
    padding-right: 22px;
    font-size: 40px; 
}
.header{
    padding: 12px 0;
    border-bottom: 1px solid var(--light);
}
.header p{
    font-family: 'Bahiana';
    font-size: 55px;
    color: #fff;
    font-weight: bold;
}
.header p span{
    color: var(--orange-shade);
}
.search-element{
    display: block;

    padding-right: 52px;
   
    justify-content: center;
    
    position: relative;
}
.search-element h5{
    font-family: 'Bahiana';
    text-align: center;
    padding-left: 55px;
    margin-right: 10px;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 32px;
}

.search-element .form{
    padding: 16px 55px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--orange-shade); 
    width: 350px;
}
/*Position MUST be relative, otherwise scroll bar changes position when screen is maximized.*/
.search-list{
    position: absolute;
    top: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
.search-list .search-list-item{
    background-color: var(--medium);
    padding: 10px;
    border-bottom: 1px solid var(--light);
    color: #fff;
    cursor:grab;
}
 .search-list-item:hover{
    background-color: var(--orange-shade);
    opacity: 0.8;
}
.search-list-item{
    
    display:flex;
    align-items: center;
}
.search-item-thumbnail img{
    width: 50px;
    margin-right: 30px;
}
.search-item-info h3{
    font-weight: 500;
    font-size: 15px;
}
.search-item-info p{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}

.search-list::-webkit-scrollbar-thumb{
    background-color: var(--orange-shade);
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 30px 0;
}
.movie-poster img{
    max-width: 300px;
    margin:auto;
    border: 5px solid var(--orange-shade);
    padding: auto;
}
.movie-info{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    opacity: 0,5;
    margin: 10px;
}

/* movie info stylings */
.movie-title{
    font-size: 37px;
    color: var(--orange-shade);
}
.movie-misc-info{
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.movie-info .rated{
    display: inline-block;
    background-color: var(--orange-shade);
    padding: 5px;
    margin: 0 15px;
    border-radius: 5px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 15px;
    opacity: 0.9;
   
}
.movie-info .writer{
    padding: 1px;
    margin: 20px 0;
}
.movie-info .type{
    padding: 1px;
    margin: 20px 0;
}
/*It has got to be inline-block*/
.movie-info .genre{
    background-color: var(--light);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-info .language{
    color: var(--orange-shade);
    font-style: italic;
}
.movie-info .awards{
   font-weight: 200;
    font-size: 15px;
}
.movie-info .awards i{
    color: var(--orange-shade);
    margin: 16 px 3px;
    padding: 15px 10px;

}

@media(min-width: 600px){
    .search-element{
        
        flex-wrap: wrap;
    }
    
    /*Explain it better*/
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /*Align text and remove top*/
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        margin-left: 0;
    }
}